name: Tests
on:
  push:

permissions:
  checks: write

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run pytest tests --junitxml=junit/test-results.xml

      - name: Test summary
        uses: mikepenz/action-junit-report@v5
        if: success() || failure()
        with:
          report_paths: './junit/test-results.xml'
